<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Edit Article</h1>
        <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
            <%- include('_form_field') %> 
        </form>
    </div>
</body>
</html>